{% extends 'base.html' %}

{% block title %}Excluir Currículo{% endblock %}

{% block content %}

<div class="form-card">
    <h1>Excluir currículo</h1>

    <p class="subtitle">
        Tem certeza que deseja excluir seu currículo?
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="actions">
            <button type="submit" class="btn-danger">Sim, excluir</button>
            <a href="{% url 'meu-curriculo' %}" class="btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

{% endblock %}